<div class="banner-container">
    <mdui-card class="banner-title">
        <div class="banner-title-text1">Noting But Up</div>
        <div class="banner-title-text2">心若向阳，无畏冰霜</div>
        <mdui-chip class="banner-title-button" end-icon="arrow_forward">More</mdui-button>
    </mdui-card>
    <mdui-card class="banner-button" >
    </mdui-card>
</div>