.sidebar-user-card
    text-align: left
    padding: 2rem 2.5rem
    margin: 0.125rem 0.5rem
    display: block
    border: 0

.sidebar-user-avatar
    width: 80px
    height: 80px
    margin: 0
    display: block

.nav-list
    padding: 0.5rem

.nav-item
    border-radius: 0.75rem
    margin: 0.1rem 0.5rem
    padding: 0.5rem 1rem
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1)
    border-radius: 10px

/* 为侧边栏添加过渡效果 */
.sidebar-content
    top: 64px
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1) !important