<mdui-navigation-drawer class="sidebar-content" close-on-overlay-click>
    <mdui-card class="sidebar-user-card">
        <mdui-avatar class="sidebar-user-avatar" src="/images/avatar.png"></mdui-avatar>
        <div style="font-weight: bold; font-size: 1.5em;">作者昵称</div>
        <div style="font-size: 14px; color: #666; margin-top: 10px;">一句个性签名</div>
    </mdui-card>
    <mdui-list>
        <% site.categories.forEach(function(category) { %>
            <mdui-list-item icon="folder" onclick="location.href='<%= url_for(category.path) %>'">
                <%= category.name %>
            </mdui-list-item>
        <% }); %>
    </mdui-list>
</mdui-navigation-drawer>

<script src="/js/widgets/sidebar.js"></script>